version: "3.9"
services:
  postgresdb:
    image: postgres:15.2
    container_name: mypostgresql
    restart: always
    volumes:
      - db_postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=admin #password and username:postgres
    depends_on:
      - adminer
    networks:
      bridge:
        ipv4_address: 172.117.0.20
  mysqldb:
    image: mysql:8.0.32
    container_name: mysqldb
    restart: always
    volumes:
      - db_mysql:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=admin #password and username:root
    depends_on:
      - adminer
    command: --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --explicit-defaults-for-timestamp=true
      --lower_case_table_names=1
    networks:
      bridge:
        ipv4_address: 172.117.0.22
  adminer:
    image: adminer:4.8.1-standalone
    container_name: myadminer
    ports:
      - 8080:8080
    extra_hosts:
      - "postgres:172.117.0.20"
      - "mysql:172.117.0.22"
    networks:
      bridge:
        ipv4_address: 172.117.0.21
networks:
  bridge:
    ipam:
      driver: default
      config:
        - subnet: "172.117.0.0/24"
volumes:
  db_postgres:
  db_mysql:
